name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
      - feature/deploy

jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       # 作業ディレクトリをfrontend/appに変更
  #       working-directory: frontend/app
  #   steps:
  #     # Gitリポジトリをチェックアウト
  #     - name: Checkout repository
  #       uses: actions/checkout@v3
  #     # Node.jsをセットアップ
  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 18 # 必要なNode.jsのバージョンを指定
  #     # 必要な依存関係をインストール
  #     - name: Install dependencies
  #       run: npm install
  #     # テストを実行
  #     - name: Run Vitest
  #       run: npm run test

  deploy:
    runs-on: ubuntu-latest
    # # deployジョブはtestジョブが成功した場合のみ実行
    # needs: test
    steps:
      # リポジトリのコードをチェックアウト
      - name: Checkout code
        uses: actions/checkout@v3
      # GCPの認証情報を設定
      - name: Set up Google Cloud authentication
        env:
          GCP_SERVICE_KEY: ${{ secrets.GCP_SERVICE_KEY }}
        run: echo "${GCP_SERVICE_KEY}" | base64 --decode > gcloud.json
      # Google Cloud SDKをインストール
      - name: Install Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          service_account_key: ${{ secrets.GCP_SERVICE_KEY }}
          project_id: ${{ secrets.GCP_PROJECT }}
      # 認証
      - name: Authentication
        run: gcloud auth configure-docker
      # DockerイメージをビルドしてArtifact Registryにプッシュ
      - name: Build and push Docker image
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.CLOUD_RUN_SERVICE }} ./frontend
          docker push gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.CLOUD_RUN_SERVICE }}
      # Cloud Runにデプロイ
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ secrets.CLOUD_RUN_SERVICE }} \
            --image gcr.io/${{ secrets.GCP_PROJECT }}/${{ secrets.CLOUD_RUN_SERVICE }} \
            --platform managed \
            --region asia-northeast1 \
            --allow-unauthenticated
